# Node
node_modules/

# Electron Forge / builds
out/
dist/

# Python
python/venv/
__pycache__/
*.pyc
python/embedded/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Environment / secrets
.env
.env.*
!.env.example



# Temporary files
tmp/
temp/
test-output/